{% extends 'base.html' %} {% block title %} 你好 {% endblock %} {% block content %}


        {% for message in messages %}
<div class="card text-center">
  <div class="card-header">
    {{ message.name }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ message.name }}</h5>
    <p class="card-text">{{ message.content }}</p>
    <a href="#" class="btn btn-primary float-left">WEB</a>
      <a href="#" class="btn btn-primary float-right">EMAIL</a>
  </div>
  <div class="card-footer text-muted">
    {{ message.create_time }}
  </div>
</div>
            <div class="small">
            &nbsp;
            </div>
        {% endfor %}

{% endblock %}
